* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header {
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background: linear-gradient(135deg, #5b548a, #00feba);
    padding: 15px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 83vh;
    /* Changed from min-height to height */
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    padding: 5px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
    background: linear-gradient(135deg, #fc466b, #3f5efb);
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    float: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 18px;
    font-size: large;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

ul li.check {
    color: #555;
    text-decoration: line-through;
}

ul li.check::before {
    background-image: url(images/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}